<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>douyuTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50FD6B521E78D4F3003BBBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FD6B6B1E78D4F3003BBBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FD6B761E78D4F3003BBBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
